/* Global settings */

body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #2b2b2b;
  font-weight: 200;
  line-height: 1.4;
}

/* Title + Image */

header, footer {
  text-align: center;
  background-color: hsl(177, 35%, 80%);
  padding: 5px 0px;
  border-radius: 5px;
}

header p {
  font-weight: 800;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

figcaption {
  text-align: center;
  margin: 10px 0px 5px 0px;
  color: #4d4d4d;
}

/* Content */

#content {
  width: 93%;
  margin: 0 auto;
}

h2 {
  color: hsl(177, 35%, 35%);
  font-size: 1.6em;
  margin: 5px 0px 0px 0px;
}

h3 {
  color: #4d4d4d;
  margin-top: 10px;
  font-size: 18px;
}

blockquote {
  background-color: hsl(177, 35%, 85%);
  padding: 5px 20px;
  text-align: justify;
  border-radius: 5px;
}

blockquote cite {
  text-align: right;
}

a {
  color: hsl(177, 15%, 15%);
  text-decoration: none;
  font-weight: 550;
}

a:hover {
  color: hsl(177, 15%, 25%);
  text-decoration: underline;
}

/* Flexbox + Media Queries */

#bio {
  display: flex;
  justify-content: space-between;
}

#selected-works {
  display:flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #bio, #selected-works {
    flex-wrap: wrap;
  }
}